---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
  <table>
    <tbody>
      <tr>
        <td rowspan="2">
          <a href="/"><img width="128" height="128" src="assets/svg/logo-white-2.svg" alt="CPUBAD"/></a>
        </td>
        <td>
          <h2><a href="games">games</a></h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2><a href="about">about</a></h2>
        </td>
      </tr>
    </tbody>
  <table>
  <hr>
  {{ content }}
</body>
</html>

